.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    /* transition: transform 0.2s ease; */
  }
  
  /* .product-card:hover {
    transform: translatey(15px);
  } */
  
  .product-image {
    width:100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .price {
    color: #1b5e20;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .details-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #2e7d32;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .details-button:hover {
    background-color: #1b5e20;
  }
  