.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;;
  }
  
  .navbar-logo {
    height: 50px;
    width: 130px;
    border-radius: 10px;
  
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #2e7d32;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  